{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "2.11.24"}
        binaryage/devtools {:mvn/version "1.0.2"}
        nrepl {:mvn/version "0.8.3"}
        re-frame {:mvn/version "1.2.0"}
        phoenix.cljs {:git/url "https://github.com/adrianparvino/phoenix.cljs" :sha "92864d348d4e0c820eda43538f40045d8fdf54ba"}}}
